<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <form action="/instructorSemester" method="post">
        <table>
            <tr>
                <th>Semester Number</th>
                <th>Semester Name</th>
                <th>Details</th>
            </tr>
            <% if (semester.length==0) { %>
                <tr>
                    <td colspan="3">
                        No courses assigned
                    </td>
                </tr>
                <% } else { %>
                    <% for (var i=0; i <semester.length; i++) { %>
                        <tr>
                            <td>
                                Semester <%= i+1 %>
                            </td>
                            <td>
                                <%= semester[i].name %>
                            </td>
                            <td>
                                <button type='submit' name="x" value="<%= semester[i].id %>">view</button>
                            </td>
                        </tr>
                        <% } %>
                    <% } %>
        </table>
    </form>
</body>

</html>