<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/table.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2bdd553bc7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">

    <title>Complain Box</title>
</head>

<body>
    <%- include('studentNavbar') %>
        <div class="header">
            <h2>My Complains</h2>
        </div>
        <% if (complains.length==0) { %>
            <div class="home-section">
            <div class="table-container">
                <ul class="table-responsive-lg">
                    <div class="data-container">
                        <p class="textfield"><strong>No complain records found!!</strong></p>
                    </div>
                </ul>
            </div>
        </div>
            <% } else { %>
                <section class="home-section">
                    <div class="table-container">
                        <ul class="table-responsive-lg">
                            <li class="thead-dark">
                                <div class="col col-1">SR No</div>
                                <div class="col col-2">Complain</div>
                                <div class="col col-3">Date complained</div>
                                <div class="col col-4">Status</div>
                            </li>

                            <% for (var i=0; i <complains.length; i++) { %>

                                <li class="table-row">
                                    <div class="col col-1" data-label="#">
                                        <%= i+1 %>
                                    </div>
                                    <div class="col col-2" data-label="Student ID">
                                        <%= complains[i].complain %>
                                    </div>
                                    <div class="col col-3" data-label="Name">
                                        <% var options={ weekday: 'long' , year: 'numeric' , month: 'long' ,
                                            day: 'numeric' }; %>
                                                <%= complains[i].dateComplained.toLocaleDateString("en-US", options) %>
                                    </div>
                                    <div class="col col-4" data-label="Batch">
                                        <% if ( complains[i].status ) { %>
                                            <p style="color:green">Resolved</p>
                                                <% } else { %>
                                                    <p style="color:red">Pending</p>
                                                        <% } %>
                                    </div>
                                </li>
                                <% } %>
                        </ul>

                        <br>
                    </div>

                </section>

                <% } %>
                <div class="button-container">
                    <button class="hover-button" onclick="window.location.href = '/addComplain'">
                      <i class="fas fa-plus"></i>
                    </button>
                    <div class="tooltip">Add Course</div>
                  </div>

                    
</body>

</html>