<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome back Student, <%= student.firstname %></h1>
    <button onclick="window.location.href = '/viewStudentDetails'"> View Student Details</button>
    <button onclick="window.location.href = '/updateStudentDetails'"> Update Student Details</button>
    <button onclick="window.location.href = '/semesterRegistration'"> Semester Registration</button> </button>
    <button onclick="window.location.href = '/semesterResults'"> Semester Results </button>
    <form action="/logoutStudent?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</body>
</html>