<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;200;300;400;600;700&family=Rubik+Moonrocks&family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/support.css"> 
    <link rel="stylesheet" href="css/nav.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">

    
</head>
<body>
    <section>
        <nav>
            <a href:="/"><img src="../img/Logo1.png" alt=""></a>
        <div class="nav-links" id="navLink">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/support" class="active">SUPPORT</a></li>
            </ul>
        </div>
       </nav>
    </section>
    <div class="container">
        <div class="ind">
        <button class="ribbon mail">
          <span class="fa fa-envelope"></span>
        </button>
        <p class="text1"><span>Mail<br></span>helpdesk@daiict.ac.in</p>
    </div>
    <div class="ind">
        <button class="ribbon location">
          <span class="fa fa-map-marker"></span>
        </button>
        
        <p class="text"><span>Address<br></span> Daiict college, Reliance Cross Rd, Gandhinagar, Gujarat 382007</p>
        </div>
        <div class="ind">
        <button class="ribbon phone">
          <span class="fa fa-phone"></span>
        </button>
        <p class="text1"><span>Contact<br></span>+265 8887774</p>
      </div>
      </div>
    
      <footer class="footer">
          <p class="contact">Helpline Number: +265 8887774</p>
      </footer>
      
    </body>
    </html>