@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.hc3 {
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    font-size: 6vh;
    margin-top: 4vh;

  }

.vidhi_table,td,tr,th {
    font-size: 2.2vh;
  border-collapse: collapse;
  width: 100%;
  size-adjust: 80vh;
}

.tr_v:hover {
    background-color: rgb(158, 218, 237);
    color: rgb(0, 0, 0);
}

.custom_text:hover {
    background-color: rgb(224, 252, 255);
    color: rgb(0, 0, 0);
}

.main-body-top {
    padding-top: 10rem;
    padding-left: 35rem;
}

.bttn {
    background-color: #fcfcfc;
  /* border: #000000; */
  border-width: 0.2vh;
  color: rgb(5, 0, 0);
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.bttn:hover {
background-color: #000000;
  border-color: cyan;
  color:cyan;
  /* border: cyan; */
  border-width: 0.2vh;
}